graft bin
graft cmake
graft docs
graft include
graft lib
graft ntt
graft python/flaglang
graft python/src
graft python/test
graft python/triton
graft src
graft test
graft third_party
graft toolchains
graft tools
graft unittest
include CMakeLists.txt
include conanfile.py
include Directory.Packages.props
include FlagLang.sln
include Makefile
include python/build_helpers.py
include python/requirements.txt
include python/test-requirements.txt
include test.runsettings
prune build
prune dump
prune ntt/test/ctest/Testing
prune src/*/bin
prune src/*/obj
prune src/modules/*/bin
prune src/modules/*/obj
prune third_party/*/bin
prune third_party/*/obj
prune third_party/*/*/bin
prune third_party/*/*/obj
prune tools/*/bin
prune tools/*/obj
recursive-exclude third_party */bin/* */obj/*
global-exclude __pycache__ *.py[cod]
